:root{
    --c1: #FFFF00;
    --c2: #012E76;
    --c3: #154E15;
    --c4: #024BC2;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: antiquewhite;
}


header {
    width: 100%;
    background-color: var(--c2);
    padding: 20px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .6s;
}

header i {
    font-size: 30px;
    color: #fff;

}

header i:hover{
    color: greenyellow;
}

header ul{
    list-style-type: none;

}

header ul li {
    display: inline-block;
    margin: 0px 25px;

}

header ul li a {
    color: #fff;
    text-decoration: none;

}

.conteiner {
    max-width: 1280px;
    margin: auto;
}

.flexivel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexivel  nav  ul  li a:hover {
    color: greenyellow;
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 25px;
    background-color:#fff;
    color: black;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover {
    color: greenyellow;
}

.content {
    max-width: 1480px;
    margin: auto;
    padding: 20px;
    height: 725px;
    background-color: #5f94e9;
}

.atendimento{
    margin-top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.normasEscola{
    display: flex;
    justify-content: center;
    margin-top: 150px; 
    background-color: #5f94e9;

}
.normasEscola > h1{
    text-shadow: 2px 2px 4px black;
    font-family: 'EB Garamond', 'Times New Roman', Times serif;
    color: #fff;
    text-align: center;
}


h2{
    color: #fff;
    text-shadow: 2px 2px 4px black;
    font-family: 'EB Garamond', 'Times New Roman', Times serif;                                                                                                     
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
}

#icon-face{
    font-size: 2.5em;
    color: #fff;
    text-decoration: none;
}

.GUS{
    color: rgb(203, 193, 221);
}

.GUS:hover{
    color: wheat;
}

a{
    text-decoration: none;
}

.linha{
    max-width: 1480px;
    margin: 0 auto;
}
#content{
    margin: 0 auto;
    padding: 20px;
    background-color: #5f94e9;
}

